.buy-button {
    margin-top: 20px;
    padding: 10px 50px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background: #007bff;
    display: block;
}
.buy-buttons {
    display: flex;
    grid-gap: 20px;
}
