.price-lighten {
    margin-right: 10px;
    &.green {
        animation: Light-green 2s;
    }
    &.red {
        animation: Light-red 2s;
    }
}
$ss: 5px;
.dot {
    height: $ss;
    width: $ss;
    border-radius: 50%;
    & + p {
        margin-right: 5px;
    }
}
.currency {
    display: flex;
    align-items: center;
    gap: $ss;
    position: relative;
    cursor: pointer;
    p {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
    }
    &.main {
        width: calc(100% - 100px);
        justify-content: flex-end
    }
    $bg: rgba(0, 0, 0, .2);
    &-list {
        padding: 10px;
        background: $bg;
        border-radius: 5px;
        position: absolute;
        top: -75px;
        left: -5px;
        transition: opacity .2s;
        opacity: 0;
        &.active {
            opacity: 1;
        }
        &-before {
            position: absolute;
            left: 20px; bottom: -20px;
            border: 10px solid transparent;
            border-top: 10px solid $bg;
        }
        p {
            margin-right: 0;
        }
    }
}
